<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>936096322825-p9cdh2ncruvm93c2tmsaqm6jtvaa1ed2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936096322825-p9cdh2ncruvm93c2tmsaqm6jtvaa1ed2</string>
	<key>API_KEY</key>
	<string>AIzaSyCiVWN1yxal-xwlMAmuhroL8MiV26Xv2_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>936096322825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimura.hackkimura</string>
	<key>PROJECT_ID</key>
	<string>hack-kumura</string>
	<key>STORAGE_BUCKET</key>
	<string>hack-kumura.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936096322825:ios:1d49a7fac7e3dc46712fd8</string>
</dict>
</plist>
